<button class="btn" ng-click="insertBike()">
    Nova Bicicleta&nbsp;&nbsp;<span class="glyphicon glyphicon-plus-sign"></span>
</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Data aquisi&ccedil;&atilde;o</th>
        <th>Quilometragem</th>
        <th>Esta&ccedil;&atilde;o Padr&atilde;o</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bike in bikes">
        <td>
            <button class="btn" ng-click="editBike(bike.id)">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
            </button>
        </td>
        <td>{{ bike.id }}</td>
        <td>{{ bike.marca }}</td>
        <td>{{ bike.modelo }}</td>
        <td>{{ bike.data_aquisicao }}</td>
        <td>{{ bike.quilometragem }}</td>
        <td>{{ bike.nome_estacao }}</td>
    </tr>
    </tbody>
</table>