<table class="table table-striped">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Id</th>
            <th>Descri&ccedil;&atilde;o</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="station in stations">
            <td>
                <button class="btn" ng-click="editStation(station.id)">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editar
                </button>
            </td>
            <td>{{ station.id }}</td>
            <td>{{ station.descricao }}</td>
        </tr>
    </tbody>
</table>