<table class="table table-striped">
    <thead>
    <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>Descri&ccedil;&atilde;o</th>
        <th>Desconto</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="promotion in promotions">
        <td>
            <button class="btn" ng-click="editPromotion(promotion.id)">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
            </button>
        </td>
        <td>{{ promotion.id }}</td>
        <td>{{ promotion.descricao }}</td>
        <td>{{ promotion.desconto }}</td>
    </tr>
    </tbody>
</table>