<div>
    <div class="title">
        <label>Contato</label>
    </div>
    <div class="contact-info">
        <div class="address">
            <i class="fa fa-street-view"></i>
            Av. Joaquim da Costa Camargo, 233 - Jardim Icarai
            <br />
            Campinas - SP, CEP: 13051-413
        </div>
        <div class="telephone">
            <i class="fa fa-phone"></i> +55 (19) 3928-2991
        </div>
        <div class="mail">
            <i class="fa fa-paper-plane-o"></i> vaibike@frognap.com
        </div>
    </div>
    <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.9140548959936!2d-47.07680414324898!3d-22.95339211976259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c93ff5942ee5%3A0xd819041ffd32cbce!2sAv.+Joaquim+da+Costa+Camargo+-+Jardim+Icarai%2C+Campinas+-+SP%2C+13051-413!5e0!3m2!1spt-BR!2sbr!4v1433819901119" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>