<div>
    <div class="title">
        <label>Como funciona</label>
    </div>
    <div class="how-works-description">
        <h3>É bem fácil, basta seguir os passos:</h3>
        <ul>
            <li>1º - Vá até uma das <a href="#/welcome">estações.</a></li>
            <li>2º - Escolha quanto tempo deseja alugar a bicicleta.</li>
            <li>3º - Divirta-se! Só não esqueça de usar capacete :)</li>
            <li>4º - Quando estiver pronto, apenas coloque a bicicleta em qualquer estação.</li>
        </ul>
    </div>
</div>