<div>
    <div class="title">
        <label>Quem somos</label>
    </div>
    <div class="front">
        <img src="../../images/fachada.png" />
    </div>
    <div class="who-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in lobortis lorem. Sed venenatis congue convallis. Duis iaculis sem nibh, quis scelerisque justo fringilla quis. Fusce in egestas lacus, at hendrerit purus. Duis luctus ligula dolor, id gravida est sollicitudin non. Etiam eget neque quis lacus ultrices hendrerit. Integer fringilla convallis iaculis. Aliquam sed neque ac tellus semper blandit. Aenean vel eros at sapien tempor fringilla sed eu turpis. In pharetra interdum ante, mattis interdum velit hendrerit quis. Maecenas aliquet malesuada metus, vitae gravida mi luctus quis. Nunc convallis erat sed gravida viverra. Sed rhoncus aliquet convallis. Vestibulum vel mi pharetra, pellentesque metus id, faucibus elit. Nullam id euismod eros, ut auctor magna. Vestibulum cursus odio et felis sollicitudin, ut scelerisque nisl tristique.</p>
        <p>Pellentesque pretium, erat et consequat venenatis, tortor ipsum pharetra massa, id luctus massa lorem in ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque egestas eu dolor facilisis interdum. Ut vitae lorem dignissim, tempor eros non, volutpat erat. Maecenas scelerisque augue id dolor vehicula, ac semper turpis pharetra. Morbi sit amet ipsum purus. Phasellus risus tellus, varius ut urna a, ultricies vestibulum magna. In pretium pellentesque ex, in hendrerit lorem scelerisque venenatis. Aenean suscipit sollicitudin congue.</p>
    </div>
</div>