<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalUpdatePackageLabel">Criar nova pacote</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Descri&ccedil;&atilde;o</label>
                <input type="text" class="form-control" ng-model="package.descricao" />
                <label>Premio</label>
                <input type="text" class="form-control" ng-model="package.premio" />
                <label>Id Promo&ccedil;&atilde;o</label>
                <input type="text" class="form-control" ng-model="package.id_promocao">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="dismiss()">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Salvar altera&ccedil;&otilde;s</button>
    </div>
</div>