<button class="btn" ng-click="insertPackage()">
    Novo Pacote&nbsp;&nbsp;<span class="glyphicon glyphicon-plus-sign"></span>
</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>Descri&ccedil;&atilde;o</th>
        <th>Premio</th>
        <th>Promoção Relacionada</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="package in packages">
        <td>
            <button class="btn" ng-click="editPackage(package.id)">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
            </button>
        </td>
        <td>{{ package.id }}</td>
        <td>{{ package.descricao }}</td>
        <td>{{ package.premio }}</td>
        <td>{{ package.nome_promocao }}</td>
    </tr>
    </tbody>
</table>