<table class="table table-striped">
    <thead>
    <tr>
        <th>Edit</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Data aquisi&ccedil;&atilde;o</th>
        <th>Quilometragem</th>
        <th>Esta&ccedil;&atilde;o Atual</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bike in bikes">
        <td>
            <button class="btn" data-toggle="modal" data-target="#modalUpdateBikes" data-id="{{bike.id}}">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
            </button>
        </td>
        <td style="display: none;">{{ bike.id }}</td>
        <td>{{ bike.marca }}</td>
        <td>{{ bike.modelo }}</td>
        <td>{{ bike.data_aquisicao }}</td>
        <td>{{ bike.quilometragem }}</td>
        <td>{{ bike.nome_estacao }}</td>
    </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modalUpdateBikes" tabindex="-1" role="dialog" aria-labelledby="modalUpdateBikesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalUpdateBikesLabel">Alterar os dados da bicicleta</h4>
            </div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>
                            <input type="text" class="form-control input-lg" id="txtId" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Marca
                        </td>
                        <td>
                            <input class="form-contol input-lg" type="text" id="txtMarca" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Modelo
                        </td>
                        <td>
                            <input class="form-contol input-lg" type="text" id="txtModelo" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Data aquisi&ccedil;&atilde;o
                        </td>
                        <td>
                            <input class="form-contol input-lg" type="datetime" id="txtDataAquisicacao" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quilometragem
                        </td>
                        <td>
                            <input class="form-contol input-lg" type="text" id="txtQuilometragem" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Esta&ccedil;&atilde;o
                        </td>
                        <td>
                            <!--criar um drop down com as estações-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary">Salvar altera&ccedil;&otilde;s</button>
        </div>
    </div>
</div>
</div>



<script>
    $('#modalUpdateBikes').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('id');
        var modal = $(this);
        modal.find('.modal-title').text('Alterar os dados da bicicleta ' + recipient);
    })
</script>