<div>
    {{helloMessage}}

    <nav id="navbar-dashboard" class="navbar navbar-default navbar-static">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Vai de Bike</a>
            </div>
            <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a id="drop1" data-target="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            Cadastros
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="cadastros"><a role="menuitem" tabindex="-1" data-target="#" href="#/administrator">Administradores</a></li>
                            <li role="cadastros"><a role="menuitem" tabindex="-1" data-target="#" href="#/station">Esta&ccedil;&otilde;es</a></li>
                            <li role="cadastros"><a role="menuitem" tabindex="-1" data-target="#" href="#/bike">Bicicletas</a></li>
                            <li role="cadastros"><a role="menuitem" tabindex="-1" data-target="#" href="#/package">Pacotes</a></li>
                            <li role="cadastros"><a role="menuitem" tabindex="-1" data-target="#" href="#/promotion">Promo&ccedil;&otilde;es</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>