<table class="table table-striped">
    <thead>
    <tr>
        <th>Edit</th>
        <th>Descri&ccedil;&atilde;o</th>
        <th>Premio</th>
        <th>Promoção Relacionada</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="package in packages">
        <td>
            <button class="btn">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
            </button>
        </td>
        <td style="display: none">{{ package.id }}</td>
        <td>{{ package.descricao }}</td>
        <td>{{ package.premio }}</td>
        <td>{{ package.nome_promocao }}</td>
    </tr>
    </tbody>
</table>