body {
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Roboto Light";
}

.login-container {
      border: 1px solid #e3e3e3;
      border-radius: 6px;
      padding: 0;
      padding-top: 19px;
      position: fixed;
      top: 50%;
      left: 50%;
      width: 30em;
      height: 13em;
      margin-top: -9em;
      margin-left: -15em;
      -webkit-box-shadow: 4px 4px 8px 0 rgba(132, 132, 132, 0.71);
      -moz-box-shadow:    4px 4px 8px 0 rgba(132, 132, 132, 0.71);
      box-shadow:         4px 4px 8px 0 rgba(132, 132, 132, 0.71);
}

.alert-container {
    z-index: 10000;
    position: absolute;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.alert-container div {
    width: 50%;
    margin: auto;
    text-align: center;
}

.menu-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #8BC34A;
    box-shadow: 3px 3px 3px #ccc;
    margin-bottom: 15px;
}

.menu-switch {
    margin: 10px 15px 10px 15px;
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(235, 235, 235);
}

.menu-switch:hover {
    color: #d0d0d0;
}

.menu-wrapper {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    background-color: #AED581;
    box-shadow: 3px 3px 3px #ccc;
    z-index: 20;
    height: 100%;
}

.menu-wrapper hr.faded {
    margin-top: -15px;
}

.menu-items-list {
    list-style: none;
    padding: 15px;
    width: 206px;
}

.menu-wrapper.ng-hide {
    animation-name: hideLeft;
    -webkit-animation-name: hideLeft;

    animation-duration: .3s;
    -webkit-animation-duration: .3s;

    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;

    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
}

@keyframes hideLeft {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-206px);
    }
}

@-webkit-keyframes hideLeft {
    0% {
        transform: translate(-206px);
    }
    100% {
        transform: translate(0);
    }
}

.stretchRight{
    animation-name: stretchRight;
    -webkit-animation-name: stretchRight;

    animation-duration: .3s;
    -webkit-animation-duration: .3s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
}

@keyframes stretchRight {
    0% {
        transform: translate(-206px);
    }
    100% {
        transform: translate(0);
    }
}

@-webkit-keyframes stretchRight {
    0% {
        transform: translate(-206px);
    }
    100% {
        transform: translate(0);
    }
}

.menu-item {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    font-size: 1.3em;
}

.menu-item label{
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgba(139, 195, 74, 0.47);
    cursor: pointer;
}

.logout {
    padding: 15px;
    margin-top: -25px;
}

.mapContainer {
    text-align: center;
}

.mapContainer label {
    font-size: 1.8em;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #626262;
}

#map {
    height: 500px;
    width: 900px;
    margin: auto;
}

.tableauPlaceholder {
    width: 804px;
    height: 669px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    margin-top: 30px;
}

hr.faded {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 1.4em 0;
    border: none;
    background: #ddd;
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(174, 213, 129)), color-stop(0.2, rgb(221,221,221)), color-stop(0.8, rgb(221,221,221)), color-stop(1, rgb(174, 213, 129)) );
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf');
}