body {
  background-color: rgb(245, 245, 245);
}

.login-container {
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 0;
  padding-top: 19px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 13em;
  margin-top: -9em;
  margin-left: -15em;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(132, 132, 132, 0.71);
  -moz-box-shadow:    4px 4px 8px 0 rgba(132, 132, 132, 0.71);
  box-shadow:         4px 4px 8px 0 rgba(132, 132, 132, 0.71);
}