body {
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Roboto Light", sans-serif;
}

.container {
    padding-left: 85px;
    padding-right: 85px;
    position: relative;
}

ul {
    list-style: none;
}

.logo {
    height: 120px;
    width: 1000px;
    margin: auto;
    margin-top: 15px;
    font-size: 8em;
    text-align: center;
}

.menu {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #9D9D9D;
    border-bottom: 1px solid #9D9D9D;
    padding-top: 10px;
    width: 950px;
}

.menu ul {
    text-align: center;
}

.menu li{
    display: inline-block;
    width: 175px;
    padding: 5px;
    font-size: 1.1em;
    margin-right: 25px;
}

.menu li.selected {
    background-color: #EDEDED;
}

.menu li:hover {
    background-color: #E7E7E7;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 2.1em;
    color: #4F4F4F;
    margin-bottom: 5px;
    margin-top: 10px;
}

#map {
    height: 500px;
    width: 900px;
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid #D0CFCF;
}

.contact-info {
    display: inline;
    position: absolute;
    left: 90px;
    line-height: 2.2em;
}

.address {
    display: inline-flex;
    display: -webkit-inline-flex;
    font-size: 1.1em;
    line-height: 1.5em;
}

.address i {
    margin-right: 5px;
    margin-top: 4px;
}

.telephone {
    margin-top: 10px;
    font-size: 1.1em;
}

.telephone i {
    margin-right: 5px;
}

.mail {
    margin-top: 10px;
    font-size: 1.1em;
}

.mail i {
    margin-right: 5px;
}

.location {
    display: inline;
    position: absolute;
    top: 65px;
    right: 90px;
}

.front {
    display: inline;
    position: relative;
    top: 5px;
}

.front img {
    width: 450px;
}

.who-description {
    display: inline;
    position: absolute;
    margin-left: 20px;
    padding-right: 65px;
    font-size: 1.1em;
}

.how-works-description {
    line-height: 2.8em;
    font-size: 1.2em;
    margin-left: 30px;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf');
}